.navigation_links {
    position: fixed;
    //right: 0;
    z-index: 999;
    // margin-bottom: 2rem;
    // right: 0%;
    // margin-right: 1rem;
    // top: 50%;
    bottom: 2%;
    right: 50%;
    // width: 5rem;
    background-color: rgba(16, 21, 26, 0.3);
    // background-color: rgba(239, 234, 221, 0.1);
    border-radius: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.015);
    // height: 15rem;
    backdrop-filter: blur(2.5px);
    transition:
        background-color 0.3s,
        border-bottom 0.3s;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transform: translateX(50%);
    box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.015);
    // -webkit-transform: translateY(-50%);
    // -moz-transform: translateY(-50%);
    // -ms-transform: translateY(-50%);
    // -o-transform: translateY(-50%);

    .links {
        display: flex;
        // flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: var(--heading);
        height: 100%;
        width: 100%;

        .nav {
            padding: 0.75rem;
            border-radius: 1rem;
            cursor: pointer;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
            transition:
                opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
            margin: 0.25rem;
            transition: 0.3s all linear;
            -webkit-transition: 0.3s all linear;
            -moz-transition: 0.3s all linear;
            -ms-transition: 0.3s all linear;
            -o-transition: 0.3s all linear;
            background-color: rgba(255, 255, 255, 0.005);

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);

                .spacing li {
                    color: whitesmoke;
                }
            }

            .spacing {
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                li {
                    padding: 0 0.5rem;
                    color: rgba(255, 255, 255, 0.6);
                }

                .icon {
                    height: 1rem;
                    position: relative;
                    width: 1rem;
                }
            }
        }
    }
}
