.tilt {
    box-shadow: 0 0px 0px var(--green) !important;
}

.card {
    // position: relative;
    width: 24rem;
    // height: 30rem;
    border-radius: 0.5rem;
    margin: 1rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    &:hover {
        .link_icon {
            transform: translateX(0.2rem) translateY(-0.2rem);
        }
    }

    .box {
        // position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        bottom: 0.5rem;
        background: var(--light-navy);
        border-radius: 0.5rem;
        border: 0.1rem solid var(--green-tint);
        box-shadow: 0 0 1rem var(--green-tint);
        transition: 0.5s;
        overflow: hidden;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;

        &:hover {
            background: var(--lightest-navy);
            box-shadow: 0 0 0.2rem var(--white);
            // transform: scale(1.05, 1.05);
            // -webkit-transform: scale(1.05, 1.05);
            // -moz-transform: scale(1.05, 1.05);
            // -ms-transform: scale(1.05, 1.05);
            // -o-transform: scale(1.05, 1.05);

            .project_image {
                --transition-duration: 500ms;
                --transition-easing: ease-out;
                display: flex;
                align-items: center;
                justify-content: center;

                box-shadow: inset 0rem 0rem 0.1rem var(--green-tint);
                border-radius: 0.5rem;
                -webkit-border-radius: 0.5rem;
                -moz-border-radius: 0.5rem;
                -ms-border-radius: 0.5rem;
                -o-border-radius: 0.5rem;
                transition: transform var(--transition-duration) var(--transition-easing);
                overflow: hidden;
                -webkit-transition: transform var(--transition-duration) var(--transition-easing);
                -moz-transition: transform var(--transition-duration) var(--transition-easing);
                -ms-transition: transform var(--transition-duration) var(--transition-easing);
                -o-transition: transform var(--transition-duration) var(--transition-easing);

                transition: transform 500ms ease-out;
                position: relative;

                &:hover::before {
                    left: 150%;
                }

                &::before {
                    content: "";
                    background: rgba(white, 0.4);
                    width: 60%;
                    height: 100%;
                    top: 0%;
                    left: -125%;
                    transform: skew(45deg);
                    transition: left var(--transition-duration) var(--transition-easing);
                    position: absolute;
                    animation-duration: var(--transition-duration);
                    animation-timing-function: var(--transition-easing);
                    transition: left 500ms ease-out;
                    animation-name: beforeAnimation;
                    animation-duration: 500ms;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                }
            }

            // &::after {
            //     opacity: 1;
            // }
        }

        // &::after {
        //     content: "";
        //     position: absolute;
        //     z-index: -1;
        //     width: 100%;
        //     height: 100%;
        //     opacity: 0;
        //     border-radius: 5px;
        //     transition: opacity 0.3s ease-in-out;
        // }

        .content {
            padding: 1rem;
            text-align: left;
            position: relative;

            .id {
                position: absolute;
                bottom: -2rem;
                right: 0.5rem;
                font-size: 6rem;
                color: var(--green-tint);
            }

            .technology_section {
                display: flex;
                flex-direction: column;
                margin: 0.5rem;
                justify-content: center;
                align-items: left;
                margin: 0.5rem;

                .title_name {
                    font-size: 1.75rem;
                    font-weight: bold;
                    z-index: 1;
                    transition: 0.5s;
                    margin: 0.5rem 0;
                    font-family: Coolvetica Rg;
                    color: var(--white);
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                }

                .description {
                    font-size: 1rem;
                    font-weight: bold;
                    background: -webkit-linear-gradient(var(--blue), var(--pink));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: rgba(255, 255, 255, 0.5);
                    margin: 0.5rem 0;
                    text-align: left;
                }

                .link_icon {
                    font-size: 1.1rem;
                    padding: 0.2rem 0.5rem;
                    color: var(--green);
                    transition: 0.4s ease-in-out;
                }

                .web {
                    padding-top: 1rem;
                    padding-bottom: 0.5rem;
                    font-size: 0.75rem;
                    width: fit-content;
                    font-weight: bold;
                    color: var(--white);

                    &:hover {
                        color: var(--green);
                    }

                    .redirect_icon {
                        font-size: 0.75rem;
                        margin-right: 0.5rem;
                    }

                    .inner_button_web {
                        background: none;
                        border: none;
                        cursor: pointer;
                        color: inherit;
                        font-weight: bold;
                    }
                }

                h6 {
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 1rem;
                    font-weight: bolder;
                }
            }

            h6 {
                color: rgba(255, 255, 255, 0.5);
                font-size: 1rem;
                font-weight: bolder;
            }

            .project_image {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;
                aspect-ratio: 16/9;
                height: 11rem;

                // &::before {
                //     content: "";
                //     position: absolute;
                //     height: 100%;
                //     width: 100%;
                //     background-image: linear-gradient(to right, #656871 0%, rgba(0, 0, 0, 0.05) 20%, #656871 40%, #656871 100%);
                //     background-repeat: no-repeat;
                //     animation: shimmer 1s linear infinite;
                //     -webkit-animation: shimmer 1s linear infinite;
                //     animation-delay: 0.2s;
                //     background-size: cover;
                // }
            }
        }
    }
}

@keyframes beforeAnimation {
    from {
        left: -125%;
    }

    to {
        left: 150%;
    }
}

@keyframes shimmer {
    0% {
        background-position: -125px 0;
    }

    100% {
        background-position: 125px 0;
    }
}
