.modalLinks {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    width: 98%;
    margin: 0.25rem 0;
    padding: 0.5rem;
    transition: 0.3s all linear;
    -moz-transition: 0.3s all linear;
    -ms-transition: 0.3s all linear;
    -o-transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;

    &:hover {
        cursor: pointer;
        background-color: var(--green-tint);
    }

    .modalSingleLink {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        height: 3rem;
        width: 100%;

        &:hover .modalIcon::after {
            top: 0;
        }

        .modalIcon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            height: 3rem;
            width: 3rem;
            border: 0.05rem solid rgba(255, 255, 255, 0.2);
            box-shadow:
                rgba(0, 0, 0, 0.19) 0px 10px 20px,
                rgba(255, 255, 255, 0.23) 0px 1px 1px;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            overflow: hidden;
            transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: -5rem;
                left: 0;
                border-radius: 0.5rem;
                background: linear-gradient(-45deg, var(--blue), var(--pink));
                z-index: -1;
                transition: top 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            }
        }

        .modalIconHeading {
            display: flex;
            margin: 0 1rem;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
            line-height: 1.4rem;
            background: -webkit-linear-gradient(360deg, var(--blue), var(--pink));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            :nth-child(2) {
                font-weight: bold;
            }
        }
    }
}
