.parent_icon {
    width: 100%;
    display: flex;
}

.icon {
    height: 3rem;
    position: relative;
    width: 3rem;
    margin: 0 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid rgba(255, 255, 255, 0.1);
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 0.5rem;
    background: transparent;

    :after {
        content: "";
        width: 100%;
        height: 100%;
        top: -5rem;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        transition: all 0.1s linear;
        position: absolute;
        background: linear-gradient(-45deg, var(--theme_color_blue), var(--theme_color_pink));
        z-index: -1;
    }

    :hover::after {
        top: 0;
    }

    span {
        height: 3rem;
        position: relative;
        width: 3rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: transparent;
    }
}
