.modalMain {
    position: relative;
    height: 100%;

    .modalMainHeader {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
        // background-color: rgba(16, 21, 26, 0.3);
    }

    .closeButtonStyles {
        color: var(--blue);
        box-shadow: 0.1rem 0.1rem var(--pink);
        border-radius: 0.5rem;
        background-color: transparent;
        height: 2.25rem;
        width: 2.25rem;
        border: 0.1rem solid var(--blue);
        font-size: 1rem;
        font-weight: 100;
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .modalHeader {
        height: 2.25rem;
        color: var(--blue);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: Coolvetica Rg;
        letter-spacing: 0.05rem;
    }

    .modalHolder {
        position: relative;
        margin-top: 1.5rem;
        overflow-y: auto;
        height: calc(100% - 3.5rem);
    }
}
