.tilt {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}

.filterBar {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.filterBar button {
    background: transparent;
    border: 2px solid #ddd;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    transition:
        background-color 0.3s,
        color 0.3s,
        border-color 0.3s;
}

.filterBar button:hover {
    background-color: #f0f0f0;
}

.filterBar button.activeFilter {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.filterBar button.activeFilter:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.box {
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin: 1rem;
    max-width: 26rem;
    height: auto;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    background: var(--light-navy);
    border-radius: 0.5rem;
    border: 0.1rem solid var(--green-tint);
    box-shadow: 0 0 1rem var(--green-tint);
    transition: 0.5s;
    overflow: hidden;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    &:hover {
        transform: scale(1.025);
        -webkit-transform: scale(1.025);
        -moz-transform: scale(1.025);
        -ms-transform: scale(1.025);
        -o-transform: scale(1.025);
        background: var(--lightest-navy);
        border: 0.1rem solid #edd849;

        .project_image {
            --transition-duration: 500ms;
            --transition-easing: ease-out;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: inset 0rem 0rem 0.1rem var(--green-tint);
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            transition: transform var(--transition-duration) var(--transition-easing);
            overflow: hidden;
            -webkit-transition: transform var(--transition-duration) var(--transition-easing);
            -moz-transition: transform var(--transition-duration) var(--transition-easing);
            -ms-transition: transform var(--transition-duration) var(--transition-easing);
            -o-transition: transform var(--transition-duration) var(--transition-easing);
            position: relative;

            &:hover::before {
                left: 150%;
            }

            &::before {
                content: "";
                background: rgba(white, 0.15);
                width: 60%;
                height: 100%;
                top: 0%;
                left: -125%;
                transform: skew(45deg);
                position: absolute;
                transition: left var(--transition-duration) var(--transition-easing);
                animation-name: beforeAnimation;
                animation-duration: var(--transition-duration);
                animation-timing-function: var(--transition-easing);
                animation-fill-mode: forwards;
                -webkit-transform: skew(45deg);
                -moz-transform: skew(45deg);
                -ms-transform: skew(45deg);
                -o-transform: skew(45deg);
            }
        }

        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 5px;
        transition: opacity 0.3s ease-in-out;
    }

    .project_image {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        // aspect-ratio: 16/9;
        // height: 11rem;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     height: 100%;
        //     width: 100%;
        //     background-image: linear-gradient(to right, #656871 0%, rgba(0, 0, 0, 0.05) 20%, #656871 40%, #656871 100%);
        //     background-repeat: no-repeat;
        //     animation: shimmer 1s linear infinite;
        //     -webkit-animation: shimmer 1s linear infinite;
        //     animation-delay: 0.2s;
        //     background-size: cover;
        // }

        .content {
            padding: 0.5rem;
            text-align: left;

            .technology_section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                margin: 0.5rem;

                .title_hindi {
                    font-size: 1.25rem;
                    font-weight: 100;
                }

                .title_english {
                    font-size: 1rem;
                    font-weight: 600;
                }

                .title {
                    background: linear-gradient(to right, #edd849, #fcf6ba, #edd849, #fbf5b7, #f6cd29);
                    // background: linear-gradient(-45deg, var(--blue), var(--pink));
                    background-clip: text;
                    background-position: center;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: 0.5s;
                    z-index: 1;
                    margin: 0.5rem 0;
                    padding: 0.5rem 0;
                    -webkit-transition: 0.5s;
                    -moz-transition: 0.5s;
                    -ms-transition: 0.5s;
                    -o-transition: 0.5s;
                }

                h6 {
                    color: rgba(255, 255, 255, 0.2);
                    font-size: 1rem;
                    font-weight: bolder;
                }

                .poetry_card_footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .copy_icon {
                    height: 3rem;
                    position: relative;
                    width: 3rem;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transition:
                        opacity 0.3s ease-in-out,
                        transform 0.3s ease-in-out;
                    margin: 0.25rem;
                    transition: 0.3s all linear;
                    -webkit-transition: 0.3s all linear;
                    -moz-transition: 0.3s all linear;
                    -ms-transition: 0.3s all linear;
                    color: rgba(255, 255, 255, 0.75);
                    -o-transition: 0.3s all linear;
                    background-color: transparent;
                    border: 0.1rem solid rgba(255, 255, 255, 0.1);

                    :after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        top: -5rem;
                        left: 0;
                        display: flex;
                        z-index: 2;
                        justify-content: center;
                        transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        align-items: center;
                        border-radius: 50%;
                        transition: all 0.1s linear;
                        -webkit-transition: all 0.1s linear;
                        -moz-transition: all 0.1s linear;
                        -ms-transition: all 0.1s linear;
                        -o-transition: all 0.1s linear;
                        position: absolute;
                        background: linear-gradient(-45deg, var(--blue), var(--pink));
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        z-index: -1;
                    }

                    :hover::after {
                        top: 0;
                    }

                    span {
                        height: 3rem;
                        position: relative;
                        width: 3rem;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        background: transparent;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                    }

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                }
            }
        }
    }
}

@keyframes beforeAnimation {
    from {
        left: -125%;
    }

    to {
        left: 150%;
    }
}

@keyframes shimmer {
    0% {
        background-position: -125px 0;
    }

    100% {
        background-position: 125px 0;
    }
}
