.projects_conatiner {
    // position: relative;
    // width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    // scroll-snap-align: start;

    .projects_body_container {
        position: relative;
        // max-width: 1200px;
        // width: 100%;
        padding: 0 2rem;
        // height: fit-content;

        .project_heading_container {
            font-family: Coolvetica Rg;
            font-style: normal;
            font-weight: bolder;
            margin: 0 8rem;
            font-size: 5.5rem;
        }

        .project_section_container {
            position: relative;
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-wrap: wrap;
        }
    }
}
