.home_container,
.projects_conatiner {
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // scroll-snap-align: start;

  .home_body_container,
  .projects_body_container {
    position: relative;
    width: 100vw;
    height: fit-content;

    .main_heading_container,
    .project_heading_container {
      font-family: Coolvetica Rg;
      font-style: normal;
      font-weight: bolder;
      margin: 0 8rem;
      font-size: 5.5rem;

      ul li {
        color: #eaeaea;
        display: inline;
        text-shadow: 0.2rem 0.2rem rgb(255, 255, 255, 0.2);

        &:hover {
          color: var(--theme_color_blue);
          transition: 1s ease-in-out;
          text-shadow: 0.2rem 0.2rem var(--theme_color_pink);
          -webkit-text-stroke: 0.1rem transparent;
          -webkit-transition: 1s ease-in-out;
          -moz-transition: 1s ease-in-out;
          -ms-transition: 1s ease-in-out;
          -o-transition: 1s ease-in-out;
        }
      }
    }

    .big_heading {
      position: absolute;
      top: -5rem;
      left: 22.4rem;
      font-size: 20rem;
      color: var(--big_heading);
    }

    .about_section_container {
      position: relative;
      margin-left: 9rem;
      text-align: left;

      .about_section_body_container {
        color: var(--highlights);
        font-weight: bold;
        font-size: 1rem;
        background: -webkit-linear-gradient(var(--theme_color_blue),
            var(--theme_color_pink));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: calc(100% - 9rem);
      }
    }

    .icon_section_container {
      position: relative;
      margin-left: 9rem;
      width: 25%;
      text-align: justify;
      display: flex;
    }

    .project_section_container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}