.lafzon_ka_jadugar_main_container {
    position: relative;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .lafzon_ka_jadugar_body_container {
        width: 100%;
        max-width: 1200px;
        padding: 0 2rem;

        .lafzon_ka_jadugar_heading_container {
            font-family: Coolvetica Rg;
            font-style: normal;
            font-weight: bolder;
            margin: 0 8rem;
            font-size: 5.5rem;

            ul li {
                color: var(--slate);
                display: inline;
                text-shadow: 0.2rem 0.2rem rgb(255, 255, 255, 0.2);

                &:hover {

                    color: var(--blue);
                    transition: 1s ease-in-out;
                    text-shadow: 0.2rem 0.2rem var(--pink);
                    -webkit-text-stroke: 0.1rem transparent;
                    -webkit-transition: 1s ease-in-out;
                    -moz-transition: 1s ease-in-out;
                    -ms-transition: 1s ease-in-out;
                    -o-transition: 1s ease-in-out;
                }
            }
        }

        .big_heading {
            position: absolute;
            top: -5rem;
            left: 22.4rem;
            font-size: 20rem;
            color: var(--grey);
        }
    }

    .poetry_section_container {
        position: relative;
        display: flex;
        justify-content: center;
        // align-items: center;
        // flex-direction: column;
        flex-wrap: wrap;
    }

    .markup_end {
        position: relative;
        left: -50%;
        transform: translate(50%);
        -webkit-transform: translate(50%);
        -moz-transform: translate(50%);
        -ms-transform: translate(50%);
        -o-transform: translate(50%);
      }
}
