.card {
  position: relative;
  min-width: 24rem;
  height: 30rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 1rem;
}

.card .box {
  position: absolute;
  box-shadow: rgb(124, 124, 124) 0px 2px 2px -1px, rgba(255, 255, 255, 0.2) 0px 1px 3px -1px;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background: transparent;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  overflow: hidden;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.card .box:hover {
  transition: 0.25s linear;
  border: 0.05rem solid var(--theme_color_blue);
  box-shadow: 0.1rem 0.1rem 0rem var(--theme_color_pink);
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  -o-transition: 0.25s linear;
}

.card .box .content {
  padding: 1rem;
  text-align: left;
}
.card .box .content .project_image {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  height: 11rem;
  border: none;
  outline: none;
}

.card .box .content .h2 {
  position: absolute;
  bottom: -2rem;
  right: 0.5rem;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.05);
}

.card .box .content .h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--theme_color_blue);
  transition: 0.5s;
  z-index: 1;
  margin: 0.5rem 0;
  font-family: Coolvetica Rg;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  color: whitesmoke;
}

.card .box .content .p {
  font-size: 1rem;
  font-weight: bold;
  background: -webkit-linear-gradient(var(--theme_color_blue), var(--theme_color_pink));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem 0;
}

.card .box .content a {
  /* position: absolute; */
  width: 5rem;
  height: 5rem;
  /* padding: .4rem 1rem; */
  background-color: rgba(255, 255, 255, 0.02);
  /* bottom: 1rem; */
  /* right: 1rem; */
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  display: flex;
  justify-content: center;
  place-items: center;
  text-decoration: none;
  color: var(--theme_color_pink);
  font-weight: 400;
  font-family: Coolvetica Rg;
  font-size: 1rem;
  transition: 0.5s;
  border: 1pt solid rgba(255, 255, 255, 0.15);
  box-shadow: inset 0.5rem 0.5rem 0.8rem rgba(255, 255, 255, 0.15), 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}

.card .box .content a:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Everytime I Add In New Projects */
/* .card:nth-child(->projectNumber<-) .box .content a {
    background: transparent;
    border: 1pt solid rgba(255, 255, 255, 0.225;
    box-shadow: 0.1rem 0.1rem .1rem rgba(255, 255, 255, .5);
  } */
/* For Next Pages Add These CSS
  bottom: 0;
  top: 100%;
  overflow: hidden; */
.projects_card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.projects_card .flex_link {
  width: 30.4rem;
  position: absolute;
  display: flex;
  bottom: 1rem;
  justify-content: space-evenly;
}

.tilt {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}

.technologySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0.5rem;
}
.technologySection h6 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: bolder;
}

.card .box .project_image {
  --transition-duration: 500ms;
  --transition-easing: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: transform var(--transition-duration) var(--transition-easing);
  overflow: hidden;
  -webkit-transition: transform var(--transition-duration) var(--transition-easing);
  -moz-transition: transform var(--transition-duration) var(--transition-easing);
  -ms-transition: transform var(--transition-duration) var(--transition-easing);
  -o-transition: transform var(--transition-duration) var(--transition-easing);
}
.card .box .project_image::before {
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0%;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  transition: left var(--transition-duration) var(--transition-easing);
}
.card .box .project_image:hover::before {
  left: 150%;
}/*# sourceMappingURL=Card.module.css.map */