.container,
.about,
.contact_me,
.projects {
  position: relative;
  /* display: flex; */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  font-family: Coolvetica Rg;
  flex-wrap: wrap-reverse;
  background: var(--background_color);
  scroll-snap-type: y mandatory;
  place-items: center;
  overflow-x: hidden;
}

.main_container,
.about,
.skills,
.projects,
.contact_me {
  /* scroll-snap-align: start; */
}

.main_container,
.skills,
.contact_me {
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main_container,
.skills {
  flex-wrap: wrap-reverse;
}

.contact_me {
  flex-wrap: wrap;
}

.page {
  position: relative;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
}

.image_page {
  position: relative;
  flex: 1 1 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* clip-path: polygon(50% 0, 100% 39%, 100% 75%, 50% 100%, 0 75%, 0 39%); */
  /* filter: drop-shadow(0px 6px 3px rgba(255, 255, 255, 0.5)); */
}

.image_page_skill {
  position: relative;
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* clip-path: polygon(50% 0, 100% 39%, 100% 75%, 50% 100%, 0 75%, 0 39%); */
  /* filter: drop-shadow(0px 6px 3px rgba(255, 255, 255, 0.5)); */
}

.image_page_contact {
  position: relative;
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.75rem;
}

/* .hexagon {
  position: absolute;
  height: 30rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  background: var(--theme_color_pink);
  background: -webkit-linear-gradient(to right, var(--theme_color_blue), var(--theme_color_pink));
  background: linear-gradient(to right, var(--theme_color_blue), var(--theme_color_pink));
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
} */
.image_logo {
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0, 100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
}

.html_h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: -0.5rem;
  margin-left: 7rem;
}

.page .header_font ul li,
.page .project_font ul li {
  color: #eaeaea;
}

.page .header_font ul li:hover,
.page .project_font ul li:hover {
  color: var(--theme_color_blue);
  transition: 1s ease-in-out;
  text-shadow: 0.2rem 0.2rem var(--theme_color_pink);
  -webkit-text-stroke: 0.1rem transparent;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
}

.header_font ul li,
.project_font ul li {
  display: inline;
  text-shadow: 0.2rem 0.2rem rgba(255, 255, 255, 0.2);
}

.header_font {
  font-family: Coolvetica Rg;
  font-style: normal;
  font-weight: bolder;
  font-size: 5.5rem;
  padding: 0 9rem;
  margin-top: -1.5rem;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.project_font {
  font-family: Coolvetica Rg;
  font-style: normal;
  font-weight: bolder;
  font-size: 4.5rem;
  padding: 0 9rem;
  margin-top: -1.5rem;
}

.about .page,
.projects .page,
.contact_me .page {
  position: relative;
}

.projects .page {
  top: 4.5rem;
}

.sup {
  font-size: 6rem;
}

.sup:hover {
  color: var(--theme_color_blue);
  transition: 1s linear;
  text-shadow: 0.2rem 0.2rem var(--theme_color_pink);
  -webkit-text-stroke: 0.1rem transparent;
  -webkit-transition: 1s linear;
  -moz-transition: 1s linear;
  -ms-transition: 1s linear;
  -o-transition: 1s linear;
}

.fp {
  display: flex;
  font-family: Coolvetica Rg;
  color: var(--highlights);
  justify-content: center;
  text-align: justify;
  align-items: center;
}

.main_container .fp {
  position: relative;
  letter-spacing: 0.2ch;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #eaeaea;
}

.about .fp,
.skills .fp,
.projects .fp,
.contact_me .fp {
  position: relative;
  /* Position Has To Be Absolute As The Right Side Image Needs To Get Fit! */
  display: inline-block;
  background: -webkit-linear-gradient(var(--theme_color_blue), var(--theme_color_pink));
  -webkit-background-clip: text;
  font-size: 1.5rem;
  -webkit-text-fill-color: transparent;
  /* width: 50%; */
  padding-right: 5rem;
}

.swrapper {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5.5rem;
}

.swrapper .fp_resume {
  letter-spacing: 0.2ch;
  margin-right: 2rem;
  font-size: 1.5rem;
  color: #eaeaea;
}

.wrapper {
  position: absolute;
  display: inline-flex;
  margin-top: 8rem;
}

.wrapper .icon_github,
.wrapper .icon_instagram,
.wrapper .icon_linkedin,
.wrapper .icon_facebook,
.swrapper .icon_resume {
  position: relative;
  margin: 0 1rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* filter: drop-shadow(-1px 8px 2.5px var(--highlights)); */
}

.wrapper .icon_github span,
.wrapper .icon_instagram span,
.wrapper .icon_linkedin span,
.wrapper .icon_facebook span,
.swrapper .icon_resume span {
  display: block;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.01);
  position: relative;
  z-index: 2;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.wrapper .icon_github .tooltip,
.wrapper .icon_instagram .tooltip,
.wrapper .icon_linkedin .tooltip,
.wrapper .icon_facebook .tooltip,
.swrapper .icon_resume .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 0.6rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2rem;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon_github:hover .tooltip,
.wrapper .icon_instagram:hover .tooltip,
.wrapper .icon_linkedin:hover .tooltip,
.wrapper .icon_facebook:hover .tooltip,
.swrapper .icon_resume:hover .tooltip {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}

.wrapper .icon_github .tooltip:before,
.wrapper .icon_instagram .tooltip:before,
.wrapper .icon_linkedin .tooltip:before,
.wrapper .icon_facebook .tooltip:before,
.swrapper .icon_resume .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon_github:hover span,
.wrapper .icon_instagram:hover span,
.wrapper .icon_linkedin:hover span,
.wrapper .icon_facebook:hover span,
.swrapper .icon_resume:hover span {
  color: #fff;
}

.wrapper .icon_github:hover span,
.wrapper .icon_instagram:hover span,
.wrapper .icon_linkedin:hover span,
.wrapper .icon_facebook:hover span,
.swrapper .icon_resume:hover span,
.wrapper .icon_github:hover .tooltip,
.wrapper .icon_instagram:hover .tooltip,
.wrapper .icon_linkedin:hover .tooltip,
.wrapper .icon_facebook:hover .tooltip,
.swrapper .icon_resume:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.wrapper .icon_github:hover span,
.wrapper .icon_github:hover .tooltip,
.wrapper .icon_github:hover .tooltip:before {
  background: #171515;
}

.wrapper .icon_instagram:hover span,
.wrapper .icon_instagram:hover .tooltip,
.wrapper .icon_instagram:hover .tooltip:before {
  background: #e1306c;
}

.wrapper .icon_linkedin:hover span,
.wrapper .icon_linkedin:hover .tooltip,
.wrapper .icon_linkedin:hover .tooltip:before {
  background: #0a66c2;
}

.wrapper .icon_facebook:hover span,
.wrapper .icon_facebook:hover .tooltip,
.wrapper .icon_facebook:hover .tooltip:before {
  background: #3b5998;
}

.swrapper .icon_resume:hover span,
.swrapper .icon_resume:hover .tooltip {
  background: -webkit-linear-gradient(var(--theme_color_blue), var(--theme_color_pink));
}

.swrapper .icon_resume:hover .tooltip:before {
  background: transparent;
}

.br {
  display: block;
  margin-bottom: -1rem;
}

.brbottom {
  display: block;
  margin-bottom: -0.25rem;
}

.contact,
.form .inputBox button[type=submit] {
  position: absolute;
  /* font-family: "Roboto Mono", monospace; */
  font-family: Coolvetica Rg;
  border: 0.1rem solid var(--theme_color_blue);
  color: var(--theme_color_blue);
  box-sizing: border-box;
  background-color: transparent;
  font-weight: bolder;
  width: 12rem;
  height: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5rem;
  box-shadow: 0.2rem 0.2rem var(--theme_color_pink);
  margin-left: 0rem;
}

.contact {
  margin-top: 1rem;
}

.form .inputBox button[type=submit] {
  margin-top: 5rem;
  cursor: pointer;
}

.contact:before,
.form .inputBox button[type=submit]::before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 5rem;
  right: 50%;
  bottom: 0;
  content: "";
  background-color: var(--theme_color_blue);
}

.contact:hover:before,
.form .inputBox button[type=submit]:hover::before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -10;
}

.contact:hover,
.form .inputBox button[type=submit]:hover {
  color: var(--background_color);
  animation: jello-horizontal 0.9s both;
}

.html_doc_header {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 2rem;
}

.about .html_body_h1,
.skills .html_body_h1,
.projects .html_body_h1,
.contact_me .html_body_h1 {
  left: 0rem;
  margin-top: -1rem;
}

.html_body_html {
  bottom: 5rem;
  left: 2.5rem;
}

.about .html_h1 {
  margin-left: 34rem;
  top: 4.5rem;
}

.skills .html_h1 {
  margin-left: 29rem;
  top: 10.75rem;
}

.projects .html_h1 {
  margin-left: 22.5rem;
  top: 4.5rem;
}

.contact_me .html_h1 {
  margin-left: 31.5rem;
  top: 4.5rem;
}

.html_body_form {
  margin-bottom: 5rem;
}

.html_body_form_end {
  top: 17rem;
}

.html_doc_header,
.html_body_h1,
.html_body_html,
.html_h1,
.html_body_p,
.html_body_pc,
.html_body_form,
.html_body_form_end {
  font-family: "La Belle Aurore", cursive;
  color: var(--highlights);
  font-size: 1.25rem;
}

.about {
  position: absolute;
}

.about,
.projects {
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding: 7rem;
  bottom: 0;
}

/* .about {
  top: 100%;
} */
/* .skills {
  top: 200%;
} */
/* .projects {
  top: 300%;
} */
/* .contact_me {
  top: 200%;
} */
.big_heading {
  position: absolute;
  top: -5rem;
  left: 22.4rem;
  font-size: 20rem;
  color: var(--big_heading);
}

.fp a:hover,
.fp a:focus,
.fp a:active {
  text-decoration: underline;
}

.skill {
  position: relative;
  width: 31rem;
  height: 39rem;
  color: aqua;
  overflow: hidden;
  z-index: 2;
}

.frost {
  position: absolute;
  width: 36rem;
  height: 36rem;
  margin-bottom: 6.5rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0.5rem 0.5rem aqua;
}

.skill .hr:nth-child(2) {
  position: absolute;
  width: 25rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(6) {
  position: absolute;
  width: 25rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(10) {
  position: absolute;
  width: 29rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(14) {
  position: absolute;
  width: 26rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(18) {
  position: absolute;
  width: 24rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(22) {
  position: absolute;
  width: 18rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(26) {
  position: absolute;
  width: 24rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(30) {
  position: absolute;
  width: 24rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(34) {
  position: absolute;
  width: 26rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(38) {
  position: absolute;
  width: 27rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(42) {
  position: absolute;
  width: 26rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(46) {
  position: absolute;
  width: 29rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(50) {
  position: absolute;
  width: 25rem;
  border: 0.1rem solid rgb(249, 13, 84);
  z-index: 1;
  animation: slide linear 1s 0s;
}

.skill .hr:nth-child(54) {
  position: absolute;
  width: 20rem;
  border: 0.1rem solid aqua;
  z-index: 1;
  animation: slide linear 1s 0s;
}

@keyframes slide {
  0% {
    width: 0rem;
    opacity: 0;
  }
  100% {
    max-width: 100%;
    opacity: 1;
  }
}
.max {
  position: absolute;
  width: 50rem;
  border: 0.1rem solid lightslategrey;
}

.skill .h3 {
  position: relative;
  font-style: normal;
  color: whitesmoke;
  letter-spacing: 0.2ch;
  margin-right: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.contact_container {
  position: relative;
  width: 42rem;
  /* background-color: #0077b5; */
  min-height: 20rem;
  /* left: 2rem; */
  /* background: rgba(255, 255, 255, 0.1); */
  /* border-radius: 1rem; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.form {
  position: relative;
  width: 42rem;
  height: 5rem;
  padding: 2rem 0;
  /* backdrop-filter: blur(5px); */
  /* border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1); */
}

.form .flex_box {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.form .inputBox textarea {
  position: absolute;
  resize: none;
  height: 4rem;
  max-width: 42rem;
}

.form .inputBox {
  width: 20rem;
  margin-top: 1rem;
}

.form .inputBox input,
.form .inputBox textarea {
  width: 100%;
  font-family: Coolvetica Rg;
  background: rgba(255, 255, 255, 0.025);
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
  color: var(--theme_color_blue);
  letter-spacing: 0.1rem;
  transition: linear 0.1s;
}

.form .inputBox input::-moz-placeholder, .form .inputBox textarea::-moz-placeholder {
  color: var(--theme_color_pink);
}

.form .inputBox input::placeholder,
.form .inputBox textarea::placeholder {
  color: var(--theme_color_pink);
}

.form .inputBox input:focus,
.form .inputBox textarea:focus {
  transform: scale(1.1);
  border-left: 2pt solid var(--theme_color_blue);
  color: var(--theme_color_blue);
}

.aboutSection,
.iconSection {
  position: relative;
  width: 100vw;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
.aboutSection .aboutBody,
.iconSection .aboutBody {
  color: var(--highlights);
  font-weight: bold;
  font-size: 1rem;
  background: -webkit-linear-gradient(var(--theme_color_blue), var(--theme_color_pink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 75%;
}

.projectSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=Home.module.css.map */