* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

@font-face {
  font-family: Coolvetica Rg;
  font-weight: bold;
  src: url("../fonts/coolvetica rg.ttf");
}

:root {
  --background_color: rgba(31, 40, 47);
  --theme_color_blue: #09fdd9;
  --theme_color_pink: #fd0953;
  --highlights: rgb(172, 182, 190);
  --big_heading: rgba(141, 141, 141, 0.1);
}

::-webkit-scrollbar {
  width: 0.15rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.1px var(--highlights);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--theme_color_blue);
  background: -webkit-linear-gradient(to top, var(--theme_color_pink), var(--theme_color_blue));
  background: linear-gradient(to top, var(--theme_color_pink), var(--theme_color_blue));
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--theme_color_blue);
  background: -webkit-linear-gradient(to top, var(--theme_color_pink), var(--theme_color_blue));
  background: linear-gradient(to top, var(--theme_color_pink), var(--theme_color_blue));
} */

/* html {
  font-size: 62.5%;
} */

@media screen and (max-width: 1600px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 56%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 37%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 30%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}